<launch>
  <param name="/use_sim_time" value="false"/>
  <param name="robot_description" textfile ="xacro $(find ansrrbot)/xacro/ansrr_bot.xacro"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -model ansrr"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find ansrrbot)/map/test_map.yaml"/>

</launch>
